<p id="notice"><%= notice %></p>

<h1>Nick Nacks!</h1>
<% @products.in_groups_of(2) do |products| %>
  <div class="row">
    <% products.each do |product| %>
      <div class="col-lg-6">
        <div class="well">
          <h4><%= link_to "#{product.name}", product %></h4>
          <%= link_to image_tag("#{product.picture.thumb}"), product %>
          <p><%= product.description %></p>
          <%= format_money(product.price) %>
          <%= render 'payola/transactions/checkout', sellable: product %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<br>


